<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-pills">
      <li class="active">
        <a>Eligible Players <span class="badge">{{ model.eligiblePlayers }}</span></a>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
  {{#if model.player.showControl}}
      <div class="well">
        <form class="form-horizontal">
          <fieldset>
            <legend>Game Settings</legend>
            <div class="form-group">
              <label for="first-round-mafia" class="col-lg-3 control-label">First Round <span class="text-danger"><strong>Mafia</strong></span></label>
              <div class="col-lg-9">
                {{view 'select' id='first-round-mafia' class='form-control' value=model.frMafia content=possibleFrMafia}}
              </div>
            </div>
            <div class="form-group">
              <label for="second-round-mafia" class="col-lg-3 control-label">Second Round <span class="text-danger"><strong>Mafia</strong></span></label>
              <div class="col-lg-9">
                {{view 'select' id='second-round-mafia' class='form-control' value=model.srMafia content=possibleSrMafia}}
              </div>
            </div>
            <div class="form-group">
              <label for="first-round-cop" class="col-lg-3 control-label">First Round <span class="text-success"><strong>Detective</strong></span></label>
              <div class="col-lg-9">
                {{view 'select' id='first-round-cop' class='form-control' value=model.frCop content=possibleFrCop}}
              </div>
            </div>
            <div class="form-group">
              <label for="second-round-cop" class="col-lg-3 control-label">Second Round <span class="text-success"><strong>Detective</strong></span></label>
              <div class="col-lg-9">
                {{view 'select' id='second-round-cop' class='form-control' value=model.srCop content=possibleSrCop}}
              </div>
            </div>
            <div class="form-group">
              <label for="first-round-witch" class="col-lg-3 control-label">First Round <span class="text-primary"><strong>Witch</strong></span></label>
              <div class="col-lg-9">
                {{view 'select' id='first-round-witch' class='form-control' value=model.frWitch content=possibleFrWitch}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <a {{action 'assignRoles'}} class="btn btn-primary">Assign Roles</a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      {{#if model.rolesAssigned}}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>
              First Role
            </th>
            <th>
              Second Role
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each model.players as |player index|}}
          {{#if player.hasRoles}}
          <tr>
            <td>
              {{index}}
            </td>
            <td>
              {{player.firstRole}}
            </td>
            <td>
              {{player.secondRole}}
            </td>
          </tr>
          {{/if}}
          {{/each}}
        </tbody>
      </table>
      {{/if}}
  {{else}}
      {{#if model.player.hasRoles}}
        <div class="alert alert-dismissible alert-info">
          <button type="button" class="close" data-dismiss="alert">×</button>
          Remember! <span class="text-danger">King is Mafia</span>, <span class="text-success">Jack is Detective</span>, and <span class="text-primary">Queen is Witch</span>.
        </div>
        <div class="cards">
          {{playing-card rank=model.player.firstCard}}
          {{playing-card rank=model.player.secondCard}}
        </div>
      {{else}}
        <h4>Waiting for players ...</h4>
        <div class="progress progress-striped active">
          <div class="progress-bar"></div>
        </div>
      {{/if}}
  {{/if}}
  </div>
</div>
{{outlet}}
<div class="btn-toolbar">
  <div class="btn-group">
    {{link-to 'Back' 'index' class="btn btn-default"}}
  </div>
</div>
